<%-include('base.ejs')%>

<div id="heading">
    <h1> <%= title %> </h1>
</div>

<div class="container text-center mt-5 box">
    <form class="item" action="/" method="post">
        <input type="text" name="todo" placeholder="New Item" autocomplete="off">
        <input type="submit" value="+" id="submit-todo" name="list">
    </form></div>
<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
        <% todos.forEach(function(todo) { %>
        <label class="list-group-item d-flex gap-3" style="background-color: #F4F4F4">
            <input class="form-check-input flex-shrink-0 todo-checkbox" type="checkbox" value="" style="font-size: 1.375em;">
            <span class="pt-1">
        <strong><%= todo.text %></strong>
        <small class="d-block text-body-secondary">
          <%=todo.time%>
        </small>
      </span>
        </label>
        <% }); %>
    </div>
</div>